n8nScraping+Automation.json
{
  "name": "n8nScraping",
  "nodes": [
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36"
            },
            {
              "name": "Cookie",
              "value": "={{ $items(\"Visit Homepage to Get Cookies1\")[0].json.headers[\"set-cookie\"].join('; ') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6aea346f-1aa3-4e7e-ae30-607cfd3f7d2b",
      "name": "Scrape Each URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2540,
        140
      ]
    },
    {
      "parameters": {
        "jsCode": "const csvContent = `\nhttps://www.dataforthai.com/company/0273564000672/\nhttps://www.dataforthai.com/company/0653564000709/\nhttps://www.dataforthai.com/company/0305564004482/\nhttps://www.dataforthai.com/business/objective/20111\nhttps://www.dataforthai.com/company/0105514005240/\n`;\n\n\nconst urls = csvContent.split('\\n').filter(line => line.trim() !== '');\n\nreturn urls.map(url => {\n  return {\n    json: {\n      url: url.trim()\n    }\n  };\n});"
      },
      "id": "9244be6c-5b1d-44f5-bad6-b36bbdad3931",
      "name": "Input URLs Here",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2320,
        140
      ]
    },
    {
      "parameters": {
        "url": "https://www.dataforthai.com/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36"
            },
            {}
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "5149ebe1-92bf-42c1-b9c4-765b483e7d14",
      "name": "Visit Homepage to Get Cookies1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2100,
        140
      ]
    },
    {
      "parameters": {
        "operation": "toFile",
        "fileFormat": "csv",
        "options": {}
      },
      "id": "c45264e1-c91f-4a72-beb9-2c70ed8b77c6",
      "name": "Create CSV File1",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 1,
      "position": [
        2980,
        140
      ]
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "company_name_th",
              "cssSelector": "div#maindata > h2"
            },
            {
              "key": "company_name_en",
              "cssSelector": "div#maindata > h3"
            },
            {
              "key": "registration_number",
              "cssSelector": "td:contains('เลขทะเบียน') + td"
            },
            {
              "key": "business_type",
              "cssSelector": "td:contains('ประกอบธุรกิจ') + td"
            },
            {
              "key": "status",
              "cssSelector": "td:contains('สถานะ') + td"
            },
            {
              "key": "registration_date",
              "cssSelector": "td:contains('วันที่จดทะเบียน') + td"
            },
            {
              "key": "registered_capital",
              "cssSelector": "td:contains('ทุนจดทะเบียน') + td"
            },
            {
              "key": "address",
              "cssSelector": "td:contains('ที่ตั้ง') + td > a"
            }
          ]
        },
        "options": {}
      },
      "id": "af0d536c-196b-4301-b45e-e9daa2e7027d",
      "name": "Extract Company Details2",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        2760,
        140
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        2120,
        -160
      ],
      "id": "d32e1ec4-cd1b-4cae-8175-115d6f10445e",
      "name": "Start Workflow"
    },
    {
      "parameters": {
        "url": "={{ $json.urls }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/124.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "redirect": {
            "redirect": {
              "maxRedirects": 99
            }
          },
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3520,
        -120
      ],
      "id": "4c708aae-7e41-4e59-9f9b-c3ddc0a6d5f0",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "shortName",
              "cssSelector": "tr.click-able-row td:nth-child(2)",
              "returnArray": true
            },
            {
              "key": "capital",
              "cssSelector": "tr.click-able-row td:nth-child(4)",
              "returnArray": true
            },
            {
              "key": "fullNameRaw",
              "cssSelector": "tr.click-able-row",
              "returnValue": "attribute",
              "returnArray": true
            },
            {
              "key": "companyOnClickAttribute",
              "cssSelector": "tr.click-able-row",
              "returnValue": "attribute",
              "attribute": "onclick",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        3720,
        -140
      ],
      "id": "96b3c795-5151-4bac-900d-c814ad2f55dc",
      "name": "HTML"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "64beed3e-f1b0-401d-a043-938b757c5f13",
              "name": "shortName",
              "value": "={{ $json.shortName }}",
              "type": "array"
            },
            {
              "id": "fc490883-b5cc-4c10-b837-fdc4376b2d94",
              "name": "capital",
              "value": "={{ $json.capital }}",
              "type": "array"
            },
            {
              "id": "7cbd2185-02aa-47e3-9bd3-7c11ecfca58e",
              "name": "companyOnClickAttribute",
              "value": "={{ $json.companyOnClickAttribute }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3900,
        -140
      ],
      "id": "a08d7ea9-1629-4341-a083-ef3e1e306cae",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "company_name_th",
              "cssSelector": "div#maindata > h2"
            },
            {
              "key": "company_name_en",
              "cssSelector": "div#maindata > h3"
            },
            {
              "key": "registration_number",
              "cssSelector": "td:contains('เลขทะเบียน') + td"
            },
            {
              "key": "business_type",
              "cssSelector": "td:contains('ประกอบธุรกิจ') + td"
            },
            {
              "key": "status",
              "cssSelector": "td:contains('สถานะ') + td"
            },
            {
              "key": "registration_date",
              "cssSelector": "td:contains('วันที่จดทะเบียน') + td"
            },
            {
              "key": "registered_capital",
              "cssSelector": "td:contains('ทุนจดทะเบียน') + td"
            },
            {
              "key": "address",
              "cssSelector": "td:contains('ที่ตั้ง') + td > a"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        5000,
        220
      ],
      "id": "ac416482-fd5c-4104-b8cb-930a47a09a25",
      "name": "Extract Company Details"
    },
    {
      "parameters": {
        "url": "https://www.dataforthai.com/sitemap.xml",
        "options": {
          "allowUnauthorizedCerts": true,
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2540,
        -160
      ],
      "id": "3db5319d-541b-4328-99d6-85764316f040",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "fieldToSplitOut": "urls",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        3060,
        -160
      ],
      "id": "44ec7d06-955e-4c70-a846-b385e1ddfc07",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3300,
        -160
      ],
      "id": "10d9762b-0dc2-4ccf-b68c-8bdcd60952a8",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5f71163b-5c74-4471-be3b-6c930be656d7",
              "name": "company_name_th",
              "value": "={{ $json.company_name_th }}",
              "type": "string"
            },
            {
              "id": "51c06c26-5c37-438c-bf51-8d55f2a4983a",
              "name": "company_name_en",
              "value": "={{ $json.company_name_en }}",
              "type": "string"
            },
            {
              "id": "6e142048-b53f-40cf-b886-1704bc4dc0fc",
              "name": "registration_number",
              "value": "={{ $json.registration_number }}",
              "type": "string"
            },
            {
              "id": "d9925207-33ed-4d10-809a-1055a69b52d1",
              "name": "registration_date",
              "value": "={{ $json.registration_date }}",
              "type": "string"
            },
            {
              "id": "59e59879-8459-478a-968c-f2a5fc9a0391",
              "name": "registered_capital",
              "value": "={{ $json.registered_capital }}",
              "type": "string"
            },
            {
              "id": "51705378-7d8c-460e-8684-18feba5ecdb2",
              "name": "address",
              "value": "={{ $json.address }}",
              "type": "string"
            },
            {
              "id": "71957789-68c9-46a7-bcba-7fff455dc04e",
              "name": "business_type",
              "value": "={{ $json.business_type }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5320,
        500
      ],
      "id": "7e0de584-9e82-4507-a702-6baaf9f2f446",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        4380,
        -160
      ],
      "id": "d6ba6da1-d296-429d-892b-dba353b5768e",
      "name": "Loop Over Items",
      "executeOnce": false,
      "retryOnFail": true,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "url": "=https://www.dataforthai.com/company/{{ $('Code3').item.json.companyId }}/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "={{ $('Code3').item.json.userAgent }}"
            },
            {
              "name": "=Cookie ",
              "value": "={{ $('Code3').item.json.cookies[0] }}"
            },
            {
              "name": "Accept-Language",
              "value": "en-US,en;q=0.9,th;q=0.8"
            },
            {
              "name": "Accept-Encoding",
              "value": "gzip, deflate, br"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8"
            },
            {
              "name": "Connection",
              "value": "keep-alive"
            },
            {
              "name": "Upgrade-Insecure-Requests",
              "value": "1"
            },
            {
              "name": "Referer",
              "value": "={{ $('Code3').item.json.referer }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4760,
        200
      ],
      "id": "551ed947-3a30-49e2-bc4c-84001f8ddce8",
      "name": "HTTP Request1",
      "retryOnFail": true
    },
    {
      "parameters": {
        "operation": "toFile",
        "fileFormat": "csv",
        "options": {}
      },
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 1,
      "position": [
        4540,
        460
      ],
      "id": "4d3b491a-b130-4d83-abd3-ca226026e6dc",
      "name": "Save to CSV"
    },
    {
      "parameters": {
        "amount": "={{ $json.delayUsed_ms }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4500,
        200
      ],
      "id": "61e3779c-a8ea-4ade-81ec-623a74c244a7",
      "name": "Wait",
      "webhookId": "de652f2a-a30d-4e8c-9c36-3140f6d36399"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst text = $json.data;\nconst regex = /https:\\/\\/www\\.dataforthai\\.com\\/business\\/objective\\/\\d+/g;\nconst matches = text.match(regex);\n\nreturn {\n  urls: matches\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2860,
        -160
      ],
      "id": "208a6439-95eb-4c86-a561-a4c5ce944b4c",
      "name": "Extract the objective"
    },
    {
      "parameters": {
        "jsCode": "// Get cookies from the 'HTTP Request' node that ran before this one.\nconst cookies = $node[\"Visit Homepage\"].json.headers[\"set-cookie\"] || [];\n\n// Define user agents\nconst userAgents = [\n  \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/124.0.0.0 Safari/537.36\",\n  \"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/124.0.0.0 Safari/537.36\",\n  \"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/124.0.0.0 Safari/537.36\"\n];\n\n// This is your original script for processing companies.\nconst inputData = $input.all();\nconst outputData = [];\n\nfor (const item of inputData) {\n    const data = item.json;\n    const shortNames = data.shortName || [];\n    const capitals = data.capital || [];\n    const onClickArray = data.companyOnClickAttribute || [];\n    const maxLength = Math.max(shortNames.length, capitals.length, onClickArray.length);\n\n    for (let i = 0; i < maxLength; i++) {\n        let companyId = null;\n        const onClickString = onClickArray[i];\n\n        if (onClickString) {\n            const match = onClickString.match(/show__company\\('([^']+)'/);\n            if (match && match[1]) {\n                let extractedId = match[1];\n                if (typeof extractedId === 'string' && extractedId.length === 13) {\n                    const idChars = extractedId.split('');\n                    const tempChar = idChars[7];\n                    idChars[7] = idChars[8];\n                    idChars[8] = tempChar;\n                    companyId = idChars.join('');\n                } else {\n                    companyId = extractedId;\n                }\n            }\n        }\n\n        // Generate random user agent and delay for each company\n        const randomUA = userAgents[Math.floor(Math.random() * userAgents.length)];\n        const minDelay = 10000; // 10 seconds\n        const maxDelay = 20000; // 20 seconds\n        const randomDelay = (Math.floor(Math.random() * (maxDelay - minDelay + 1)) + minDelay) / 1000;\n        \n        outputData.push({\n            json: {\n                // Original company data\n                index: i,\n                shortName: shortNames[i] || null,\n                capital: capitals[i] || null,\n                companyId: companyId,\n                companyOnClickAttribute: onClickArray[i] || null,\n                \n                // Add the extracted cookie to each company item.\n                cookies: cookies,\n                \n                // Add user agent and delay for each company\n                userAgent: randomUA,\n                referer: \"https://www.dataforthai.com/\",\n                delayUsed_ms: randomDelay\n            }\n        });\n    }\n}\n\nreturn outputData;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4080,
        -120
      ],
      "id": "1b59340a-c638-4480-bd53-f3c168757962",
      "name": "Code3"
    },
    {
      "parameters": {
        "url": "https://www.dataforthai.com/",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2320,
        -160
      ],
      "id": "84804be5-8b3c-48da-ad09-431ac720ff0c",
      "name": "Visit Homepage"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        5460,
        740
      ],
      "id": "49efdf4a-2484-49d5-9150-1fb1420d7a06",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3520,
        -300
      ],
      "id": "cc9dd85c-725c-4ef6-90e5-33e18b18df1e",
      "name": "No Operation, do nothing"
    }
  ],
  "pinData": {},
  "connections": {
    "HTML2": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Each URL": {
      "main": [
        []
      ]
    },
    "Input URLs Here": {
      "main": [
        []
      ]
    },
    "Visit Homepage to Get Cookies1": {
      "main": [
        []
      ]
    },
    "Extract Company Details2": {
      "main": [
        []
      ]
    },
    "Start Workflow": {
      "main": [
        [
          {
            "node": "Visit Homepage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Company Details": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Extract the objective",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Save to CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Extract Company Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to CSV": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract the objective": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Visit Homepage": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c2aeac15-0df8-4095-82cd-f830f775b2bc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "25f98133425c28bbb07dc796f874403308940578ef266cd0854b0929e8307069"
  },
  "id": "ynjtf8gulEdbZNHf",
  "tags": []
}